body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #f8bbd0   ;
    color: white;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.navbar .menu-icon {
    font-size: 24px;
}

.navbar .title {
    font-size: 24px;
}

.navbar .auth-links a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

.breadcrumb {
    margin: 20px;
}

.my-home-icon {
    color: #FF0000;
}

.breadcrumb a {
    text-decoration: none;
    color: #d32f2f;
}

.breadcrumb i {
    margin-right: 5px;
  }


.container {
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
}

.container h1 {
    background-color: #f8bbd0;
    padding: 10px;
    color: #d32f2f;
}

.members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.member {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: 150px;
    text-align: center;
}

.member img {
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.member p {
    padding: 10px;
    margin: 0;
    background-color: #f8f8f8;
    color: #d32f2f;
}

footer{
    /* height:200px; */
    margin-top: 20px; /* Menambahkan margin atas sebesar 20px */
    background-color: black; /* Mengatur warna latar belakang footer menjadi hitam */
}

.footer{
    color: aliceblue; /* Mengatur warna teks footer menjadi putih kebiruan */
    text-align: center; /* Mengatur teks dalam footer agar rata tengah */
    padding: 20px; /* Menambahkan padding sebesar 20px di semua sisi */
    padding-left: 133px; /* Menambahkan padding kiri negatif untuk menyesuaikan layout */
    display: flex; /* Mengatur konten menggunakan flexbox */
    flex-wrap: nowrap; /* Membuat konten tidak membungkus ke baris baru */
    margin-top: 100px; /* Menambahkan margin atas sebesar 100px */
}

.buttons{
    text-align: center; /* Mengatur teks dalam buttons agar rata tengah */
}

.month{
    text-align: center; /* Mengatur teks dalam month agar rata tengah */
}

.ig{
    text-align: center; /* Mengatur teks dalam ig agar rata tengah */
}

.logofot{
    height: 150px; /* Mengatur tinggi logo footer */
    width: auto; /* Mengatur lebar logo footer secara otomatis sesuai aspek rasio */
}

a{
    text-decoration: none; /* Menghilangkan garis bawah pada link */
    color: aliceblue; /* Mengatur warna teks link menjadi putih kebiruan */
}

.tabel{
    width: 75%; /* Mengatur lebar tabel menjadi 75% dari kontainer induknya */
}

.logo{
    width: 15%; /* Mengatur lebar logo menjadi 15% dari kontainer induknya */
    margin-right: 50px; /* Menambahkan margin kanan sebesar 50px */
}

.igdkk{
    padding-bottom: 70px; /* Menambahkan padding bawah sebesar 70px */
}

footer a:hover{
    color: aqua; /* Mengubah warna teks link dalam footer menjadi aqua saat hover */
}

